<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../lib/layui/css/layui.css" media="all">
</head>
<body>
<table class="layui-hide" id="agencyTask" lay-filter="agencyTask"></table>

<script type="text/html" id="deployBarDemo">
    <a class="layui-btn layui-btn-xs" lay-event="toDoAgencyTask">办理任务</a>
</script>
<script src="../../lib/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
    layui.use(['table', 'layer'], function () {
        let table = layui.table;
        let layer = layui.layer;
        //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
        //详见：https://www.layui.com/doc/modules/table.html#totalRow
        table.render({
            elem: '#agencyTask'
            , url: '/workflow/selfAgencyTask'
            , limit: 5
            , limits: [5, 10, 15, 20]
            , title: '我的代办任务'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {
                    field: 'id',
                    title: '任务ID',
                    width: 150,
                    fixed: 'left',
                    unresize: true,
                    sort: true,
                    align: "center"
                }
                    , {
                    field: 'name', title: '代办任务名称', width: 150, align: "center", templet: function (res) {
                        return '<em>' + res.name + '</em>'
                    }
                }
                    , {field: 'createTime', title: '创建时间', width: 180, sort: true, align: "center"}
                    ,{field: 'processType', title: '流程类型', width: 180, sort: true, align: "center"}
                    , {field: 'assignee', title: '办理人', width: 150, sort: true, align: "center"}
                    , {
                    fixed: 'right', title: '操作', toolbar: '#deployBarDemo', width: 150, align: "center"
                }
                ]
            ]
            , page: true
        });

        //监听工具条
        table.on('tool(agencyTask)', function (obj) {
            let data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'viewSpProcess') {
                layer.msg('查看流程')
            } else if (obj.event === 'toDoAgencyTask') {
                todoAgencyTask(obj);
            }
        });

        //给window添加
        window.addProcessDeploy = () => {
            layer.open({
                type: 2,
                title: '添加流程',
                shade: '0.1',
                area: ['600px', '600px'],
                anim: 5,
                content: '/workflow/addProcessDeploy'
            })
        }
        window.todoAgencyTask = (data) => {
            layer.open({
                type: 2,
                title: '处理业务',
                shade: '0.1',
                area: ['700px', '600px'],
                anim: 5,
                content: `/workflow/viewAllAgencyTask?taskId=${data.data.id}&processType=${data.data.processType}`
            })
        }
    });
</script>

</body>
</html>